.products-nav {
    background-color: #f8f8f8;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 11vw;
}

.products-nav-2 {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 11vw;
    padding-right: 11vw;
}

// Filter Price
.filter-price {
    width: 300px;
    padding: 0;
    display: inline-block;
}

.filter-price-input {
    @extend .rounded, .col-3;

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.dash-separator {
    @extend .col-6;
    display: flex;
    justify-content: center;
}

.range-slider {
    width: 300px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        position: absolute;
    }
}

.range-slider-part {
    width: 300px;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 200px;
        height: 1px;
        background: #003d7c;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        height: 15px;
        width: 15px;
        margin-top: -7px;
        background: #fff;
        border: 1px solid #003d7c;
        border-radius: 25px;
        z-index: 1;
    }

    &:nth-child(2)::-webkit-slider-runnable-track {
        background: none;
    }
}

.filter-selectable-list {
    width: 175px;
    padding: 0;
    margin-left: $spacer * 5;
}

.filter-col-btn {
    @extend .btn, .btn-primary;
    width: 100px;
    margin-left: $spacer * 5;
}

.button-order {
    text-decoration: none;
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    width: fit-content;
    text-align: left;
    padding: 10px 14px;
    margin-right: 2px;
    &:hover {
        background-color: #e8e8e8;
    }
    &.active {
        background-color: $primary;
        color: white;
    }
}

.button-active {
    background-color: $primary;
    color: white;
    &:hover {
        background-color: $primary;
    }
}

.products {
    padding-left: 11vw;
    padding-right: 11vw;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

@include media-breakpoint-down(xl) {
    .filter-selectable-list {
        margin-left: $spacer * 1.5;
    }

    .filter-col-btn {
        margin-left: $spacer * 1.5;
    }
}

@include media-breakpoint-down(lg) {
    .products-nav {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .products-nav-2 {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .products {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .filter-price {
        width: 280px;
    }

    .filter-selectable-list {
        margin-left: $spacer * 0.5;
    }

    .filter-col-btn {
        margin-left: $spacer * 0.5;
    }
}

@include media-breakpoint-down(md) {
    .filter-price {
        width: 100%;
        margin-left: $spacer * 0.5;
        margin-bottom: $spacer * 0.5;
        margin-top: $spacer * 0.5;
    }

    .filter-row-input-buttons {
        width: 300px;
    }

    .filter-selectable-list {
        width: 100%;
        margin-left: $spacer * 1.2;
        margin-bottom: $spacer * 0.5;
    }

    .filter-row-other {
        width: 175px;
    }

    .filter-col-btn {
        width: 100%;
        margin-left: $spacer * 1.2;
        margin-bottom: $spacer * 0.5;
    }

    .filter-row-btn {
        width: 100px;
    }
}
